<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.soupedog.dao.UserMapper">
    <sql id="AllColumnList">uid,"sequence","NAME",user_sex,user_state,"configuration",create_ts,last_update_ts</sql>

    <sql id="DynamicColumnList">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.uid != null">uid,</if>
            <if test="user.name != null">"NAME",</if>
            <if test="user.userSex != null">user_sex,</if>
            <if test="user.userState != null">user_state,</if>
            <if test="user.configuration != null">"configuration",</if>
            <if test="user.createTs != null">create_ts,</if>
            <if test="user.lastUpdateTs != null">last_update_ts,</if>
        </trim>
    </sql>

    <sql id="DynamicValueList">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.uid != null">#{user.uid},</if>
            <if test="user.name != null">#{user.name},</if>
            <if test="user.userSex != null">#{user.userSex},</if>
            <if test="user.userState != null">#{user.userState},</if>
            <if test="user.configuration != null">#{configuration},</if>
            <if test="user.createTs != null">#{user.createTs},</if>
            <if test="user.lastUpdateTs != null">#{user.lastUpdateTs},</if>
        </trim>
    </sql>

    <insert id="saveUser2" useGeneratedKeys="true" keyProperty="uid">
        insert into local_test."user"
        <include refid="DynamicColumnList"/>
        values<include refid="DynamicValueList"/>;
    </insert>

    <update id="updateUser2">
        update local_test."user"
        <foreach collection="dataMap" index="key" item="val" open="SET" separator="," close="">${key} = #{val}</foreach>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="uid != null">and uid = #{uid}</if>
            and last_update_ts &lt;= #{updateLimitTime}
        </trim>
        ;
    </update>

    <select id="queryUserMultiple" resultType="io.github.soupedog.domain.po.User">
        select
        <include refid="AllColumnList"/>
        from local_test."user"
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="uidCollection != null and !uidCollection.isEmpty()">and uid in
                <foreach collection="uidCollection" index="index" item="item" open="(" separator="," close=")">#{item}
                </foreach>
            </if>
        </trim>
        <if test="orderInfo != null">order by ${orderInfo}</if>;
    </select>
</mapper>
