<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.soupedog.dao.UserMapper">
    <sql id="AllColumnList">uid,"sequence","NAME",balance,user_sex,user_state,"configuration",create_ts,last_update_ts</sql>

    <sql id="DynamicColumnList">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.sequence != null">"sequence",</if>
            <if test="user.name != null">"NAME",</if>
            <if test="user.balance != null">balance,</if>
            <if test="user.userSex != null">user_sex,</if>
            <if test="user.userState != null">user_state,</if>
            <if test="user.configuration != null">"configuration",</if>
            <if test="user.createTs != null">create_ts,</if>
            <if test="user.lastUpdateTs != null">last_update_ts,</if>
        </trim>
    </sql>

    <sql id="DynamicValueList">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="user.sequence != null">#{user.sequence},</if>
            <if test="user.name != null">#{user.name},</if>
            <if test="user.balance != null">#{user.balance},</if>
            <if test="user.userSex != null">#{user.userSex},</if>
            <if test="user.userState != null">#{user.userState},</if>
            <if test="user.configuration != null">#{user.configuration},</if>
            <if test="user.createTs != null">#{user.createTs},</if>
            <if test="user.lastUpdateTs != null">#{user.lastUpdateTs},</if>
        </trim>
    </sql>

    <select id="getNextUserSequence" resultType="long">
        SELECT NEXTVAL('local_test.user_sequence');
    </select>

    <!--这里对初学者不太友好，useGeneratedKeys 是指可自增的字段(常见于 mysql 或高版本 postgreSQL 的 identity 自增类型) 、selectKey 是指非自增字段(常见于 Oracle/postgreSQL)-->
    <!--他们两种 id 回写到 Java 对象是互斥的，同时似乎只有一个能生效，示例代码是不想再新建一个表就合并在一起写在这儿了-->
    <!--你可以通过自主取消注释进行调试，trim 的 if 判断囊括了序列不存在的情况，不会报错-->
    <insert id="customSaveUser" useGeneratedKeys="true" keyProperty="uid">
        <selectKey keyProperty="user.sequence" resultType="long" order="BEFORE">
            select NEXTVAL('local_test.user_sequence');
        </selectKey>
        insert into local_test."user"
        <include refid="DynamicColumnList"/>
        values<include refid="DynamicValueList"/>;
    </insert>

    <!--单次 dao 操作执行多条 sql(;代表单挑语句结束)，会导致返回值丧失意义，推荐使用 merge into 之类的语句-->
    <insert id="customSaveOrUpdateUserMultiple" useGeneratedKeys="true" keyProperty="uid">
        <foreach item="item" index="index" collection="userList" open="" separator=";" close="" nullable="true">
            insert into
            local_test."user"
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="true">"sequence",</if>
                <if test="item.name != null">"NAME",</if>
                <if test="item.balance != null">balance,</if>
                <if test="item.userSex != null">user_sex,</if>
                <if test="item.userState != null">user_state,</if>
                <if test="item.configuration != null">"configuration",</if>
                <if test="item.createTs != null">create_ts,</if>
                <if test="item.lastUpdateTs != null">last_update_ts,</if>
            </trim>
            values
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="true">NEXTVAL('local_test.user_sequence'),</if>
                <if test="item.name != null">#{item.name},</if>
                <if test="item.balance != null">#{item.balance},</if>
                <if test="item.userSex != null">#{item.userSex},</if>
                <if test="item.userState != null">#{item.userState},</if>
                <if test="item.configuration != null">#{item.configuration},</if>
                <if test="item.createTs != null">#{item.createTs},</if>
                <if test="item.lastUpdateTs != null">#{item.lastUpdateTs},</if>
            </trim>
            ON CONFLICT ("NAME") DO UPDATE SET balance= #{item.balance} AND user_state = #{item.userState},
        </foreach>
    </insert>

    <update id="customUpdateUser">
        update local_test."user"
        <foreach collection="dataMap" index="key" item="val" open="SET" separator="," close="">${key} = #{val}</foreach>
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="uid != null">and uid = #{uid}</if>
            and last_update_ts &lt;= #{updateLimitTime}
        </trim>
        ;
    </update>

    <select id="customQueryUserMultiple" resultType="io.github.soupedog.domain.po.User">
        select
        <include refid="AllColumnList"/>
        from local_test."user"
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="uidCollection != null and !uidCollection.isEmpty()">and uid in
                <foreach collection="uidCollection" index="index" item="item" open="(" separator="," close=")">#{item}
                </foreach>
            </if>
        </trim>
        <if test="orderInfo != null">order by ${orderInfo}</if>;
    </select>
</mapper>
